#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --primary-font: 'Aref Ruqaa', serif;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
}

#hero {
  padding: 125px;
  text-align: center;
}

#hero.onGreet {
  padding: 125px;
  background: url(./assets/initial-bg.jpg) 0% 0% / cover;
}

#hero.onQuestion {
  height: 100vh;
  padding: 42px;
}

#greeting-box,
#results-box {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: var(--size-12) 0 var(--size-20) 0;
  margin: var(--size-64) 240px;
  border-radius: var(--size-12);
}

#greeting-box h1,
#results-box h1 {
  font-family: var(--primary-font);
}

#greeting-box h2 {
  font-family: var(--primary-font);
}

#greeting-box button,
#results-box button {
  border-radius: var(--size-12);
  font-family: var(--primary-font);
  text-transform: uppercase;
  background-color: transparent;
  border: var(--size-4) solid white;
  color: white;
  padding: var(--size-8);
  font-size: var(--size-20);
}

#greeting-box button:hover,
#results-box button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.display-question {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: var(--size-32);
  margin: 48px 256px 0 256px;
  display: grid;
  row-gap: var(--size-12);
}

.display-question header,
.total-score {
  font-family: 'Aref Ruqaa', serif;
  font-size: var(--size-32);
}

.display-question button {
  font-family: 'Aref Ruqaa', serif;
  font-size: var(--size-24);
  padding-bottom: var(--size-8);
  border: var(--size-4) solid transparent;
}

.display-question button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: var(--size-4) solid white;
}

.total-score {
  font-size: var(--size-24);
}

.reset-btn,
.next-btn {
  color: white;
}

.reset-btn:hover,
.next-btn:hover {
  background-color: transparent;
}

.reset-btn {
  background-color: crimson;
}

.next-btn {
  background-color: navy;
  margin-left: var(--size-16);
}

.next-btn:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}

#reset-gr-btns {
  display: flex;
  justify-content: center;
}

#results-box h1 {
  font-size: var(--size-48);
}

#results-box p {
  font-size: var(--size-32);
  font-family: var(--primary-font);
}

/* Responsive design */
@media screen and (min-width: 1400px) {
  #greeting-box {
      font-size: xx-large;
      margin: 149px 240px;
  }

  #greeting-box button,
  #results-box button {
      font-size: xxx-large;
  }

  .display-question {
      padding: 28px 45px 101px 45px;
      row-gap: var(--size-24);
      margin: 34px 34px 159px 34px;
  }

  .display-question header,
  .total-score,
  .display-question button {
      font-size: xxx-large;
      padding-bottom: var(--size-12);
  }

  #reset-gr-btns {
      justify-content: center;
  }

  #results-box {
      margin: 383px 240px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1399) {
  #hero {
      padding: 247px 100px;
  }

  #greeting-box {
      padding: 24px;
  }

  #greeting-box h1,
  #results-box h1 {
      font-size: 56px;
  }

  #greeting-box h2 {
      font-size: 37px;
  }

  #greeting-box button,
  #results-box button {
      font-size: 42px;
  }

  .display-question {
      padding: 117px 32px;
      row-gap: 25px;
      margin: 79px 160px 0 160px;
  }

  .display-question header {
      font-size: 48px;
  }

  .display-question button  {
      font-size: 42px;
      padding-bottom: 12px;
  }

  .total-score {
      font-size: 34px;
  }

  .next-btn {
      margin-left: 42px;
  }

  #results-box {
      padding: 209px 10px;
  }

  #results-box p {
      font-size: 42px;
  }

  #results-box button {
      padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  #hero {
      padding: 88px;
  }

  #greeting-box {
      margin: 48px;
  }

  .display-question {
      margin: 0;
      padding: var(--size-16);
  }

  #results-box {
      margin: 138px 77px;
  }
}

@media screen and (max-width: 425px) {
  #hero {
      padding: 71px 34px;
  }

  .display-question {
      row-gap: var(--size-8);
      padding: 44px;
  }

  .display-question header,
  .total-score,
  .display-question button {
      font-size: var(--size-20);
  }

  #results-box {
      margin: 69px 40px;
  }

  #results-box h1 {
      font-size: var(--size-32);
  }

  #results-box p {
      font-size: var(--size-24);
  }
}

@media screen and (max-width: 375px) {
  #hero {
      padding: 25px;
  }

  .display-question {
      row-gap: var(--size-8);
      margin: 8px 0;
      padding: 37px 16px;
  }

  #results-box {
      margin: 51px 24px;
  }
}

@media screen and (max-width: 387px) {
  #reset-next-btns {
      display: flex;
      flex-direction: column-reverse;

  }

  .next-btn {
      margin-left: 0;
      margin-top: 0
  }

  .next-btn {
      margin-bottom: 8px;
  }

  #get-results-btn {
      margin: 0 0 0 16px;
      padding: 0 0 8px 0;
  }

/*   #reset-next-btns button:nth-child(2) {
      margin-left: 0;
      margin-top: 8px;
  } */
}

@media screen and (max-width: 320px) {
  #hero {
      padding: 32px;
  }

  #greeting-box {
      margin: 24px;
  }

  .total-score {
      font-size: var(--size-16);
  }

  .display-question {
      row-gap: var(--size-8);
      padding: 8px 16px;
      margin: 11px 0;
  }

  .next-btn {
      margin-left: 0;
      margin-top: var(--size-8);
  }

  #results-box {
      margin: 16px 14px;
  }
}